{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<center>
    <div class="col-md-6 col-lg-8"" style="background-color:#343a40!important;
box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
 <h1 class="display-4 font-weight-normal">Olakunle Isreal Demilade</h1>
 <img src="./pics/adeola-removebg-preview.png" class="mb-4" alt="My Picture">

<p>An Undergraaduate student at the federal unniversity oye Ekiti who is 
    Studying mechatronics and at the same time so passionate about being a programmer built this Blod Application
    with the help of AltSchool Africa and he is hoping to build many moore project like this that will solve solve 
    world problems both socially and educationally
</p>  
</div>
</center>
{% endblock %}